$background: #263238;
$blue: #82AAFF;
$orange: #F78C6C;
$red: #FF5370;
$green: #C3E88D;
$yellow: #FFCB6B;
$light-blue: #89DDFF;
$purple: #C792EA;
$gray: #546E7A;

.c-bg { color: $background; }
.c-bl { color: $blue; }
.c-or { color: $orange; }
.c-re { color: $red; }
.c-gr { color: $green; }
.c-gra { color: $gray; }
.c-ye { color: $yellow; }
.c-lb { color: $light-blue; }
.c-pu { color: $purple; }